<div class="navbar-fixed ">
    <nav>
        <div class="nav-wrapper teal">
            <a href="./" class="brand-logo"> &nbsp; Friends Forever</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/events">Events</a></li>
                <li><a href="/common-things">Common Things</a></li>
                <li><a class="waves-effect waves-light btn orange orange darken-4" href="/emergency">
                    Emergency 
                    <i class="material-icons right">emergency</i>
                </a>
                </li>

            </ul>
        </div>
    </nav>
</div>