<link rel="stylesheet" href="/static/css/home.css">
<div style="text-align:center">
    <h2>Friends | Events | Emergency</h2>
    <p>We are very happy to see you here</p>
  </div>
  <hr>
  
  <!-- event section -->
  <div class="bg-container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>Events and Gathering</b></h1>
        <h1 class="large-font" style="color:rgb(72, 60, 179);"><b>Why?</b></h1>
        <p><span style="font-size:36px">Gathering is crucial for old age</span> 
             individuals as it provides social interaction, emotional support, and a sense of belonging, promoting overall well-being. It helps combat isolation, enhances mental stimulation, and fosters a community that contributes to a healthier and more fulfilling life in later years.
        </p>    
        <a class="button" href="/events">Register for events</a>
      </div>
      <div class="column-33">
          <img src="https://cdn.shopify.com/s/files/1/0763/4541/files/happy_seniors_1.jpg?v=1659593052" >
      </div>
    </div>
  </div>
  
  <!-- Emergency Section -->
  <div class="bg-container" style="background-color:#f1f1f1">
    <div class="row">
      <div class="column-33">
        <img src="https://novascotia.ca/emergency-education/img/emergency-safety.jpeg" alt="App">
      </div>
      <div class="column-66">
        <h1 class="xlarge-font"><b>Emergency contacts</b></h1>
        <h1 class="large-font" style="color:red;"><b>Medical | Police | Fire</b></h1>
        <p><span style="font-size:24px">A revolution in resolution.</span> Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a class="button" style="background-color:red" href="/emergency">Report now</a>
      </div>
    </div>
  </div>
  
  <!-- Common Things Section -->
  <div class="bg-container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>Common Things</b></h1>
        <h1 class="large-font" style="color:rgb(72, 60, 179);"><b>Checkout</b></h1>
        <p><span style="font-size:36px">For elderly individuals,</span> 
             regularly communicate essential information on common medicines, diseases, and daily routines to ensure their health and well-being. Clear and concise updates help them adhere to prescribed medications, manage health conditions effectively, and maintain a structured routine conducive to a healthier lifestyle.</p>
        <button class="button">Checkout</button>
      </div>
      <div class="column-33">
          <img src="https://t3.ftcdn.net/jpg/03/67/61/52/360_F_367615235_X7kRXubXONnPTCgTLKLkOTnmGt5AvlyJ.jpg"  >
      </div>
    </div>
  </div>
  